@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Inika:wght@400;700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.nav{
    width: 100%;
    height: 700px;
    display: flex;
    position: relative;
}
.top{
    width: 100%;
    height: 15%;
    background-color: #2E3D17;
}
.nav-detail{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15%;
}
.nav-detail .nav-left{
    width: 100%;
    height: 100%;
    position: relative;
}
.nav-detail .nav-left h1{
    font-family: "Inika", serif;
    color: #044715;
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.nav-detail .nav-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}
.nav-detail .nav-right{
    width: 100%;
    height: 100%;
    background-color: #8E8E5A !important;
    opacity: 80%;
    position: relative;
}
.nav-detail .nav-right ul{
    display: flex;
    list-style: none;
    position: absolute;
    top: 8%;
    left: 40%;
}
.nav-detail .nav-right ul li{
    color: #044715;
    font-weight: 800;
    margin: 5% 10% auto auto;
}
.nav-detail .nav-right ul li:hover{
    color: #893F04;
}
/* ハンバーガーメニューのスタイル */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #044715;
    margin: 4px 0;
    transition: 0.4s;
}
.nav-right h2{
    width: 50% ;
    font-family: "Karla", sans-serif;
    font-size: 50px;
    color: #044715;
    position: absolute;
    top: 30%;
    left: 25%;
    line-height: 1;
}
.nav-right button{
    width: 20%;
    height: 5%;
    background-color: #8E8E5A;
    border: #044715 solid 1px;
    color: #044715;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 25%;
}
.nav-right button:hover{
    background-color: #893F04;
    color: black;
    font-weight: 600;
    opacity: 60%;
}
/* THE SPACE */
.space{
    width: 100%;
    height: 800px;
    background-color: #F8F0EC;
    display: flex;
    flex-direction: row;
}
.space-left{
    width: 50%;
    height: 70%;    
    margin: 11% 0 auto 0;
    position: relative;
}
.space-left img{
    width: 20%;
    height: 20%;
    position: absolute;
    top: 20%;
    left: 42%;
    object-fit: cover;
}
.space-left  h1{
    width: 100%;
    color: #396845;
    position: absolute;
    top: 45%;
    text-align: center;
}
.space-left  p{
    width: 70%;
    color: #396845;
    font-family: "Average", serif;
    line-height: 1;
    position: absolute;
    top: 57%;
    left: 18%;
}
.space-right{
    width: 50%;
    height: 70%;
    margin: 11% 0 auto 0;
}
.space-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}
.space-left button{
    width: 20%;
    height: 6%;
    background-color: #F8F0EC;
    color: #396845;
    font-weight: 600;
    position: absolute;
    top: 75%;
    left: 40%;
}
.space-left button:hover{
    background-color: #893F04;
    color: black;
    opacity: 60%;
}
/* AMENITIES */
.amenities{
    width: 100%;
    height: 700px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.ame-left{
    width: 50%;
    height: 100%;
    background-color: #35523C;
    position: relative;
}
.ame-right{
    width: 50%;
    height: 100%;
    background-color: #B3BCB5;
}
.ame-pic-1{
    width: 50%;
    height: 80%;
    position: absolute;
    top: 20%;
    left: 15%;
}
.ame-pic-2{
    width: 50%;
    height: 80%;
    position: absolute;
    top: 20%;
    left: 75%;
}
.ame-pic-1 img,
.ame-pic-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}
.ame-right img{
    width: 15;
    height: 15%;
    position: absolute;
    top: 25%;
    left: 78%;
    object-fit: cover;
}
.ame-right  h1{
    width: 100%;
    color: #396845;
    position: absolute;
    top: 45%;
    left: 32%;
    text-align: center;
}
.ame-right  p{
    width: 25%;
    color: #396845;
    font-family: "Average", serif;
    line-height: 1;
    position: absolute;
    top: 55%;
    left: 71%;
}
.ame-right  button{
    width: 12%;
    height: 5%;
    background-color: #B3BCB5;
    color: #396845;
    font-weight: 600;
    position: absolute;
    top: 75%;
    left: 76%;
}
.ame-right  button:hover{
    background-color: #893F04;
    color: black;
    opacity: 60%;
}


/* メディアクエリでハンバーガーメニューを表示 */
@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }
    .nav-right #nav-items{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 20px;
        background-color: #8E8E5A;
        width: 200px;
    }
    .nav-right #nav-items.show {
        display: flex;
    }

.nav-right button{
    width: 30%;
    /* height: 5%;
    background-color: #8E8E5A;
    border: #044715 solid 1px;
    color: #044715;
    font-weight: 600;
    text-align: center; */
    position: absolute;
    top: 85%;
    left: 35%;
}

.space-left,
.space-right{
    margin-top: 23%;
}
.space-left button{
    top: 85%;
}
.ame-right img{
    left: 75%;
}
.ame-right button{
    top: 80%;
}
}




/* font-family: "Inika", serif;
font-family: "Karla", sans-serif;
font-family: "Average", serif;
font-family: "Average Sans", sans-serif; */